.userInfo{
    width: 100%;
    display: flex;
}

.imageConst{
    display:flex;
    flex-direction: row;
}

.editUser{
    margin-top: auto;
}

.editUserIcon{
    width: 32px;
    height: 32px;
}

.userInfo .userText{
    word-break: break-all;
    word-break: break-word;
}

.userInfo img {
    width: 124px;
    height: 124px;
    border-radius: 9999px;
}

.userInfo h3 {
    margin: 0;
    margin-top: 10px;
}
