.user-content{
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.user-content hr{
    height: 2px;
    background-color: black;
}

.user-info,
.user-info .userText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user-info img{
    width: 200px;
    height: 200px;
}

.user-info h3{
    font-size: 30px;
    line-height: 35px;
}

.user-list .list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
