.user-background{
    display: flex;
    flex-flow: column wrap;
}

.user-content{
    width: 86%;
}

.user-content hr{
    height: 2px;
    background-color: black;
}

.user-info img{
    width: 200px;
    height: 200px;
}

.user-info h3{
    font-size: 30px;
    line-height: 35px;
}

.user-list .list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
